<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>quickmock by tennisgent</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>
          <img src="https://raw.githack.com/tennisgent/quickmock/master/quickmock_xsm.png">
          quickmock
        </h1>
        <h2>quickmock is an simple service for automatically injecting mocks into your AngularJS unit tests using Jasmine or Mocha</h2>
        <a href="https://github.com/tennisgent/quickmock" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>
<a id="quickmock" class="anchor" href="#quickmock" aria-hidden="true"><span class="octicon octicon-link"></span></a>quickmock</h1>

<p>quickmock is a micro-library for initializing, mocking and auto-injecting provider dependencies for Jasmine/Mocha/Chai/Sinon unit tests in AngularJS</p>

<h2>
<a id="what-does-it-do" class="anchor" href="#what-does-it-do" aria-hidden="true"><span class="octicon octicon-link"></span></a>What does it do?</h2>

<p>Mocking out dependencies in unit tests can be a huge pain. Angular makes testing "easy", but mocking out <em>every</em> dependecy isn't so slick. If you've ever written an Angular unit test (using Jasmine/Mocha), you've probably seen a ton of <code>beforeEach</code> boilerplate that looks something like this:</p>

<div class="highlight highlight-javascript"><pre>describe(<span class="pl-s1"><span class="pl-pds">'</span>zb-toggle Directive<span class="pl-pds">'</span></span>, <span class="pl-st">function</span> () {
        <span class="pl-s">var</span> scope, element, notificationService, $compile;

        beforeEach(<span class="pl-st">function</span>(){
            <span class="pl-sv">module</span>(<span class="pl-s1"><span class="pl-pds">'</span>AppModule<span class="pl-pds">'</span></span>);
            <span class="pl-sv">module</span>(<span class="pl-st">function</span>(<span class="pl-vpf">$provide</span>){
                <span class="pl-s">var</span> mockNotificationService <span class="pl-k">=</span> jasmine.createSpyObj(<span class="pl-s1"><span class="pl-pds">'</span>NotificationService<span class="pl-pds">'</span></span>,
                    [<span class="pl-s1"><span class="pl-pds">'</span>error<span class="pl-pds">'</span></span>,<span class="pl-s1"><span class="pl-pds">'</span>success<span class="pl-pds">'</span></span>,<span class="pl-s1"><span class="pl-pds">'</span>warning<span class="pl-pds">'</span></span>,<span class="pl-s1"><span class="pl-pds">'</span>basic<span class="pl-pds">'</span></span>,<span class="pl-s1"><span class="pl-pds">'</span>confirm<span class="pl-pds">'</span></span>]);
                $provide.<span class="pl-sc">value</span>(<span class="pl-s1"><span class="pl-pds">'</span>NotificationService<span class="pl-pds">'</span></span>, mockNotificationService);
            });
            inject(<span class="pl-st">function</span>(<span class="pl-vpf">_$rootScope_</span>, <span class="pl-vpf">_$compile_</span>, <span class="pl-vpf">_NotificationService_</span>){
                scope <span class="pl-k">=</span> _$rootScope_.$<span class="pl-k">new</span>();
                $compile <span class="pl-k">=</span> _$compile_;
                notificationService <span class="pl-k">=</span> _NotificationService_;
            });
        });

        beforeEach(<span class="pl-st">function</span>(){
            element <span class="pl-k">=</span> angular.element(<span class="pl-s1"><span class="pl-pds">'</span>&lt;div zb-toggle&gt;&lt;/div&gt;<span class="pl-pds">'</span></span>);
            $<span class="pl-s3">compile</span>(element)(scope);
            scope.$digest();
        });

    <span class="pl-c">// ... write actual test cases here</span>
});</pre></div>

<p>The module containing the directive must first be initialized. Then any dependencies must be mocked out and "provided" to the Angular injector. Then <code>$rootScope</code>, <code>$compile</code> and the mocked service must be injected into your testing environment to be referenced later. Then you have to render, compile and <code>$digest()</code> the directive HTML. Once all that is done, you can begin writing test cases.</p>

<p>What if it was a lot easier?  What if we could reduce all of that down to this?</p>

<div class="highlight highlight-javascript"><pre>describe(<span class="pl-s1"><span class="pl-pds">'</span>zb-toggle Directive<span class="pl-pds">'</span></span>, <span class="pl-st">function</span> () {
        <span class="pl-s">var</span> zbToggle;

        beforeEach(<span class="pl-st">function</span>(){
            zbToggle <span class="pl-k">=</span> quickmock({
                providerName<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>zbToggle<span class="pl-pds">'</span></span>,
                moduleName<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>QuickMockDemo<span class="pl-pds">'</span></span>,
                mockModules<span class="pl-k">:</span> [<span class="pl-s1"><span class="pl-pds">'</span>QuickMockDemoMocks<span class="pl-pds">'</span></span>],
                html<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>&lt;div zb-toggle&gt;&lt;/div&gt;<span class="pl-pds">'</span></span>
            });
            zbToggle.$<span class="pl-s3">compile</span>();
        });

    <span class="pl-c">// ... write actual test cases here</span>
});</pre></div>

<h2>
<a id="how-does-it-work" class="anchor" href="#how-does-it-work" aria-hidden="true"><span class="octicon octicon-link"></span></a>How Does It Work?</h2>

<p>quickmock does all of that <code>beforeEach</code> boilerplate behind the scenes, and returns an object that contains all of the data you need to write your tests. Mocks are defined in their own reusable Angular modules. quickmock then sees which dependencies your provider (i.e. service/factory/directive/filter/controller/etc) has, looks up the mocks for those dependencies, injects them into the provider and into your test, and finally bootstraps all the required modules.</p>

<h2>
<a id="how-do-i-use-it" class="anchor" href="#how-do-i-use-it" aria-hidden="true"><span class="octicon octicon-link"></span></a>How do I use it?</h2>

<p>Let's start with a simple example. quickmock can work with even the most complex providers, but to start out, we'll choose an easy service that we want to test. Let's say we have the following <code>'NotificationService'</code> provider:</p>

<div class="highlight highlight-javascript"><pre>angular.module(<span class="pl-s1"><span class="pl-pds">'</span>QuickMockDemo<span class="pl-pds">'</span></span>, [])
    .service(<span class="pl-s1"><span class="pl-pds">'</span>NotificationService<span class="pl-pds">'</span></span>, [<span class="pl-s1"><span class="pl-pds">'</span>$window<span class="pl-pds">'</span></span>, <span class="pl-s1"><span class="pl-pds">'</span>NotificationTitles<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(<span class="pl-vpf">$window</span>, <span class="pl-vpf">titles</span>){
        <span class="pl-k">return</span> {
            error<span class="pl-k">:</span> <span class="pl-st">function</span> <span class="pl-en">notificationError</span>(<span class="pl-vpf">msg</span>){
                $<span class="pl-s3">window</span>.<span class="pl-s3">alert</span>(titles<span class="pl-s3">.error</span> <span class="pl-k">+</span> <span class="pl-s1"><span class="pl-pds">'</span><span class="pl-cce">\n\n</span><span class="pl-pds">'</span></span> <span class="pl-k">+</span> msg);
            },
            success<span class="pl-k">:</span> <span class="pl-st">function</span> <span class="pl-en">notificationSuccess</span>(<span class="pl-vpf">msg</span>){
                $<span class="pl-s3">window</span>.<span class="pl-s3">alert</span>(titles.success <span class="pl-k">+</span> <span class="pl-s1"><span class="pl-pds">'</span><span class="pl-cce">\n\n</span><span class="pl-pds">'</span></span> <span class="pl-k">+</span> msg);
            },
            warning<span class="pl-k">:</span> <span class="pl-st">function</span> <span class="pl-en">notificationWarning</span>(<span class="pl-vpf">msg</span>){
                $<span class="pl-s3">window</span>.<span class="pl-s3">alert</span>(titles.warning <span class="pl-k">+</span> <span class="pl-s1"><span class="pl-pds">'</span><span class="pl-cce">\n\n</span><span class="pl-pds">'</span></span> <span class="pl-k">+</span> msg);
            },
            basic<span class="pl-k">:</span> <span class="pl-st">function</span> <span class="pl-en">notificationBasic</span>(<span class="pl-vpf">msg</span>){
                $<span class="pl-s3">window</span>.<span class="pl-s3">alert</span>(titles.basic <span class="pl-k">+</span> <span class="pl-s1"><span class="pl-pds">'</span><span class="pl-cce">\n\n</span><span class="pl-pds">'</span></span> <span class="pl-k">+</span> msg);
            },
            confirm<span class="pl-k">:</span> <span class="pl-st">function</span> <span class="pl-en">notificationConfirm</span>(<span class="pl-vpf">msg</span>){
                <span class="pl-k">return</span> $<span class="pl-s3">window</span>.<span class="pl-s3">confirm</span>(titles.confirm <span class="pl-k">+</span> <span class="pl-s1"><span class="pl-pds">'</span><span class="pl-cce">\n\n</span><span class="pl-pds">'</span></span> <span class="pl-k">+</span> msg);
            }
        };
    }])</pre></div>

<p>Its a simple service that shows various alert messages to the user, by delegating to <code>window.alert()</code>. It has two dependencies: <code>$window</code> and <code>NotificationTitles</code>, which is looks like this:</p>

<div class="highlight highlight-javascript"><pre>.<span class="pl-sc">value</span>(<span class="pl-s1"><span class="pl-pds">'</span>NotificationTitles<span class="pl-pds">'</span></span>, {
    error<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>It looks like something went wrong...<span class="pl-pds">'</span></span>,
    success<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>Congraduations!<span class="pl-pds">'</span></span>,
    warning<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>Be careful...<span class="pl-pds">'</span></span>,
    basic<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>Check this out!<span class="pl-pds">'</span></span>,
    confirm<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>Confirm Action<span class="pl-pds">'</span></span>
})</pre></div>

<p>We can test this service by writing the following:</p>

<div class="highlight highlight-javascript"><pre>describe(<span class="pl-s1"><span class="pl-pds">'</span>NotificationService<span class="pl-pds">'</span></span>, <span class="pl-st">function</span> () {
    <span class="pl-s">var</span> notificationService;

    beforeEach(<span class="pl-st">function</span>(){
        notificationService <span class="pl-k">=</span> quickmock({
            providerName<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>NotificationService<span class="pl-pds">'</span></span>, <span class="pl-c">// the provider we wish to test</span>
            moduleName<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>QuickMockDemo<span class="pl-pds">'</span></span>,         <span class="pl-c">// the module that contains our provider</span>
            mockModules<span class="pl-k">:</span> [<span class="pl-s1"><span class="pl-pds">'</span>QuickMockDemoMocks<span class="pl-pds">'</span></span>]  <span class="pl-c">// module(s) that contains mocks for our provider's dependencies</span>
        });
    });
    ....</pre></div>

<p>quickmock will find the <code>NotificationService</code> and lookup its list of dependencies. It will then try to find mocks for each of those dependencies and inject them into your test.</p>

<h2>
<a id="how-do-i-write-the-mocks-i-need" class="anchor" href="#how-do-i-write-the-mocks-i-need" aria-hidden="true"><span class="octicon octicon-link"></span></a>How do I write the mocks I need?</h2>

<p>You can provide mocks for each of the dependencies by creating a separate javascript file and writing a separate Angular module to contain those mocks. This provides several benefits: it allows your mocks to be reusable between tests, gives you a specific structure for writing your tests, and easily integrates with quickmock.</p>

<p>quickmock provides a simple syntax for declaring mocks in a module found in <a href="https://github.com/tennisgent/quickmock/blob/master/src/quickmock.mockHelper.js"><code>quickmock.mockHelper.js</code></a>. It allows you to declare mocks as seen in the following simple example:</p>

<div class="highlight highlight-javascript"><pre><span class="pl-c">// Declare an Angular module that will contain any mocks you need</span>
angular.module(<span class="pl-s1"><span class="pl-pds">'</span>SampleMocks<span class="pl-pds">'</span></span>, [])

    <span class="pl-c">// now declare specific mocks for each of your dependencies</span>
    .mockService(<span class="pl-s1"><span class="pl-pds">'</span>NotificationService<span class="pl-pds">'</span></span>, [<span class="pl-st">function</span>(){
        <span class="pl-k">return</span> jasmine.createSpyObj(<span class="pl-s1"><span class="pl-pds">'</span>NotificationService<span class="pl-pds">'</span></span>, [<span class="pl-s1"><span class="pl-pds">'</span>error<span class="pl-pds">'</span></span>,<span class="pl-s1"><span class="pl-pds">'</span>success<span class="pl-pds">'</span></span>,<span class="pl-s1"><span class="pl-pds">'</span>warning<span class="pl-pds">'</span></span>,<span class="pl-s1"><span class="pl-pds">'</span>basic<span class="pl-pds">'</span></span>,<span class="pl-s1"><span class="pl-pds">'</span>confirm<span class="pl-pds">'</span></span>]);
    }])

    .mockFactory(<span class="pl-s1"><span class="pl-pds">'</span>UserFormValidator<span class="pl-pds">'</span></span>, [<span class="pl-st">function</span>(){
        <span class="pl-s">var</span> spy <span class="pl-k">=</span> jasmine.createSpy(<span class="pl-s1"><span class="pl-pds">'</span>UserFormValidator<span class="pl-pds">'</span></span>);
        spy.and.<span class="pl-s3">returnValue</span>(<span class="pl-c1">true</span>);
        <span class="pl-k">return</span> spy;
    }])</pre></div>

<p>A detailed explanation of the two possible mock declaration syntaxes (and their advantages and disadvantages) can be found <a href="https://github.com/tennisgent/quickmock/tree/master/test/mocks">here</a>.</p>

<p>For further information about how to write specific mocks to acurately mock out your providers, see <a href="http://www.sitepoint.com/mocking-dependencies-angularjs-tests/">this SitePoint article</a> or the <a href="https://docs.angularjs.org/guide/unit-testing">Angular Developer Guide: Unit Testing</a>.</p>

<h2>
<a id="the-quickmock-api" class="anchor" href="#the-quickmock-api" aria-hidden="true"><span class="octicon octicon-link"></span></a>The quickmock API</h2>

<p>As shown in the example above, a call to quickmock accepts a config object and returns an object, which in this case we called <code>notificationService</code>.</p>

<h4>
<a id="the-config-object" class="anchor" href="#the-config-object" aria-hidden="true"><span class="octicon octicon-link"></span></a>The Config Object</h4>

<ul>
<li>
<code>providerName</code> (String) - The name of the provider you want to test</li>
<li>
<code>moduleName</code> (String) - The name of the module that contains the provider above</li>
<li>
<code>mockModules</code> (Array:String) - An array of the names of modules that contain mocks for any of the provider's dependencies</li>
<li>
<code>useActualDependencies</code> (Boolean) - If quickmock cannot find a mock for a required dependency, it will thrown an exception. If, instead, you wish to delegate to the actual implementations of the dependencies instead of mocking them out, set this flag to <code>true</code>.</li>
<li>
<code>spyOnProviderMethods</code> (Boolean) - If true, quickmock will automatically spy on the methods of the provider. This will give you access to all of the usual spy functionality for any methods on your provider, but will also call through to the actual implementation so you can test all required functionality. This is very useful when testing certain provider methods that call one another.</li>
<li>
<code>html</code> (String|Object) - For directives only, this is the default html that will be compiled when <code>.$compile()</code> is called (this is explained below).</li>
</ul>

<h4>
<a id="the-returned-object" class="anchor" href="#the-returned-object" aria-hidden="true"><span class="octicon octicon-link"></span></a>The Returned Object</h4>

<p>The <code>notificationService</code> object provides all of the data you need to write tests for the <code>NotificationService</code> provider.  Here is a walk through of all the information you are given. The following properties are avaiable when testing all provider types (services/factories/directives/controllers/filters/etc):</p>

<ul>
<li>
<code>.$mocks</code> (Object) - contains all of the mocked dependencies for the provider you are testing</li>
</ul>

<div class="highlight highlight-javascript"><pre><span class="pl-c">// to test the NotificationService.error() method</span>
it(<span class="pl-s1"><span class="pl-pds">'</span>should display proper error message to the user<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(){
    notificationService<span class="pl-s3">.error</span>(<span class="pl-s1"><span class="pl-pds">'</span>some fake message<span class="pl-pds">'</span></span>); <span class="pl-c">// calls to the provider</span>
    <span class="pl-s">var</span> mock_$<span class="pl-s3">window</span> <span class="pl-k">=</span> notificationService.$mocks.$<span class="pl-s3">window</span>,
        mock_NotificationTitles <span class="pl-k">=</span> notificationService.$mocks.NotificationTitles;
    <span class="pl-s">var</span> messageShown <span class="pl-k">=</span> mock_$<span class="pl-s3">window</span>.alert.calls.argsFor(<span class="pl-c1">0</span>)[<span class="pl-c1">0</span>];
    expect(messageShown).toContain(mock_NotificationTitles<span class="pl-s3">.error</span>);
    expect(messageShown).toContain(<span class="pl-s1"><span class="pl-pds">'</span>some fake message<span class="pl-pds">'</span></span>);
});</pre></div>

<ul>
<li>
<code>.$initialize()</code> (Function) - calling .$initialize() will re-initialize the provider you are testing. This is useful if you are testing any functionality that happens at the moment your service is initialized.</li>
</ul>

<p>The following properties are specific to testing <code>directive</code> providers and will reference the following example directive:</p>

<div class="highlight highlight-javascript"><pre>.directive(<span class="pl-s1"><span class="pl-pds">'</span>zbToggle<span class="pl-pds">'</span></span>, [<span class="pl-s1"><span class="pl-pds">'</span>NotificationService<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(<span class="pl-vpf">NotificationService</span>){
    <span class="pl-k">return</span> {
        restrict<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>AE<span class="pl-pds">'</span></span>,
        replace<span class="pl-k">:</span> <span class="pl-c1">true</span>,
        transclude<span class="pl-k">:</span> <span class="pl-c1">true</span>,
        template<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>&lt;div class="toggle" ng-click="check = !check"&gt;<span class="pl-pds">'</span></span>
            <span class="pl-k">+</span> <span class="pl-s1"><span class="pl-pds">'</span>&lt;input type="checkbox" ng-model="check"&gt;<span class="pl-pds">'</span></span>
            <span class="pl-k">+</span> <span class="pl-s1"><span class="pl-pds">'</span>&lt;span ng-transclude&gt;&lt;/span&gt;<span class="pl-pds">'</span></span>
            <span class="pl-k">+</span> <span class="pl-s1"><span class="pl-pds">'</span>&lt;/div&gt;<span class="pl-pds">'</span></span>,
        scope<span class="pl-k">:</span> {
            initState<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>=<span class="pl-pds">'</span></span>
        },
        <span class="pl-en">link</span>: <span class="pl-st">function</span>(<span class="pl-vpf">scope</span>, <span class="pl-vpf">elem</span>, <span class="pl-vpf">attrs</span>){
            <span class="pl-s">var</span> notificationMessage <span class="pl-k">=</span> <span class="pl-s1"><span class="pl-pds">'</span>Your preference has been set to: <span class="pl-pds">'</span></span>;
            scope.check <span class="pl-k">=</span> scope.initState <span class="pl-k">||</span> <span class="pl-c1">false</span>;
            scope.$<span class="pl-s3">watch</span>(<span class="pl-s1"><span class="pl-pds">'</span>check<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(<span class="pl-vpf">val</span>){
                NotificationService[val <span class="pl-k">?</span> <span class="pl-s1"><span class="pl-pds">'</span>success<span class="pl-pds">'</span></span> <span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>warning<span class="pl-pds">'</span></span>](notificationMessage <span class="pl-k">+</span> val);
            });
        }
    };
}])</pre></div>

<ul>
<li>
<code>.$compile([html])</code> (Function) - compiles the given html string/object and calls then <code>$scope.$digest()</code>. If no html string/object is given, it will default to the html provided in the config object. You can provide a javascript object, which will be generated into an html string.</li>
</ul>

<div class="highlight highlight-javascript"><pre>it(<span class="pl-s1"><span class="pl-pds">'</span>should compile the given html string<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(){
    zbToggle.$<span class="pl-s3">compile</span>(<span class="pl-s1"><span class="pl-pds">'</span>&lt;div zb-toggle class="btn btn-round" init-state="true"&gt;&lt;/div&gt;<span class="pl-pds">'</span></span>);
    expect(zbToggle.$element[<span class="pl-c1">0</span>].<span class="pl-sc">tagName</span>).toEqual(<span class="pl-s1"><span class="pl-pds">'</span>DIV<span class="pl-pds">'</span></span>);
    expect(zbToggle.$element.hasClass(<span class="pl-s1"><span class="pl-pds">'</span>btn-round<span class="pl-pds">'</span></span>)).toEqual(<span class="pl-c1">true</span>);
    expect(zbToggle.$scope.initState).toEqual(<span class="pl-c1">true</span>);
    zbToggle.$<span class="pl-s3">compile</span>(<span class="pl-s1"><span class="pl-pds">'</span>&lt;span zb-toggle class="btn btn-shadow" init-state="false"&gt;&lt;/span&gt;<span class="pl-pds">'</span></span>);
    expect(zbToggle.$element[<span class="pl-c1">0</span>].<span class="pl-sc">tagName</span>).toEqual(<span class="pl-s1"><span class="pl-pds">'</span>SPAN<span class="pl-pds">'</span></span>);
    expect(zbToggle.$element.hasClass(<span class="pl-s1"><span class="pl-pds">'</span>btn-shadow<span class="pl-pds">'</span></span>)).toEqual(<span class="pl-c1">true</span>);
    expect(zbToggle.$scope.initState).toEqual(<span class="pl-c1">false</span>);
});

it(<span class="pl-s1"><span class="pl-pds">'</span>should compile the given html object<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(){
    <span class="pl-s">var</span> htmlObj <span class="pl-k">=</span> {
        $tag<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>div<span class="pl-pds">'</span></span>,            <span class="pl-c">// $tag (required): will be the html tagName (i.e. '&lt;zb-toggle ...&gt;' or '&lt;div ...&gt;' or '&lt;span ...&gt;')</span>
        $content<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span><span class="pl-pds">'</span></span>,           <span class="pl-c">// $content (optional): will be inner content of the html element</span>
        zbToggle<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span><span class="pl-pds">'</span></span>,
        class<span class="pl-k">:</span> <span class="pl-s1"><span class="pl-pds">'</span>btn btn-round<span class="pl-pds">'</span></span>,
        initState<span class="pl-k">:</span> <span class="pl-c1">true</span>         <span class="pl-c">// properties are normalized (i.e. 'initState: true' will become 'init-state="true"')</span>
    };
    zbToggle.$<span class="pl-s3">compile</span>(htmlObj);
    expect(zbToggle.$element[<span class="pl-c1">0</span>].<span class="pl-sc">tagName</span>).toEqual(<span class="pl-s1"><span class="pl-pds">'</span>DIV<span class="pl-pds">'</span></span>);
    expect(zbToggle.$element.hasClass(<span class="pl-s1"><span class="pl-pds">'</span>btn-round<span class="pl-pds">'</span></span>)).toEqual(<span class="pl-c1">true</span>);
    expect(zbToggle.$scope.initState).toEqual(<span class="pl-c1">true</span>);
    htmlObj.$tag <span class="pl-k">=</span> <span class="pl-s1"><span class="pl-pds">'</span>span<span class="pl-pds">'</span></span>;
    htmlObj.class <span class="pl-k">=</span> <span class="pl-s1"><span class="pl-pds">'</span>btn btn-shadow<span class="pl-pds">'</span></span>;
    htmlObj.initState <span class="pl-k">=</span> <span class="pl-c1">false</span>;
    zbToggle.$<span class="pl-s3">compile</span>(htmlObj);
    expect(zbToggle.$element[<span class="pl-c1">0</span>].<span class="pl-sc">tagName</span>).toEqual(<span class="pl-s1"><span class="pl-pds">'</span>SPAN<span class="pl-pds">'</span></span>);
    expect(zbToggle.$element.hasClass(<span class="pl-s1"><span class="pl-pds">'</span>btn-shadow<span class="pl-pds">'</span></span>)).toEqual(<span class="pl-c1">true</span>);
    expect(zbToggle.$scope.initState).toEqual(<span class="pl-c1">false</span>);
});</pre></div>

<ul>
<li>
<code>.$element</code> (jQuery/jqLite Element) - provides access to the element that results from <code>angular.element()</code>.</li>
</ul>

<div class="highlight highlight-javascript"><pre>it(<span class="pl-s1"><span class="pl-pds">'</span>should have the toggle class<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(){
    expect(zbToggle.$element.hasClass(<span class="pl-s1"><span class="pl-pds">'</span>toggle<span class="pl-pds">'</span></span>)).toBe(<span class="pl-c1">true</span>);
});

it(<span class="pl-s1"><span class="pl-pds">'</span>should show a checkbox<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(){
    <span class="pl-s">var</span> input <span class="pl-k">=</span> zbToggle.$element.<span class="pl-s3">find</span>(<span class="pl-s1"><span class="pl-pds">'</span>input<span class="pl-pds">'</span></span>);
    expect(input.attr(<span class="pl-s1"><span class="pl-pds">'</span>type<span class="pl-pds">'</span></span>)).toEqual(<span class="pl-s1"><span class="pl-pds">'</span>checkbox<span class="pl-pds">'</span></span>);
});</pre></div>

<ul>
<li>
<code>.$scope</code> (Object) - provides access to the directive's Angular <code>scope</code> object</li>
</ul>

<div class="highlight highlight-javascript"><pre>it(<span class="pl-s1"><span class="pl-pds">'</span>should toggle the checkbox when clicked<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(){
    expect(zbToggle.$scope.check).toBe(<span class="pl-c1">false</span>);
    zbToggle.$element[<span class="pl-c1">0</span>].<span class="pl-s3">click</span>();
    expect(zbToggle.$scope.check).toBe(<span class="pl-c1">true</span>);
    zbToggle.$element[<span class="pl-c1">0</span>].<span class="pl-s3">click</span>();
    expect(zbToggle.$scope.check).toBe(<span class="pl-c1">false</span>);
});

it(<span class="pl-s1"><span class="pl-pds">'</span>should show a success message when toggled to true<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(){
    expect(zbToggle.$scope.check).toBe(<span class="pl-c1">false</span>);
    zbToggle.$scope.check <span class="pl-k">=</span> <span class="pl-c1">true</span>;
    zbToggle.$scope.$digest();
    expect(zbToggle.$mocks.NotificationService.success).toHaveBeenCalled();
});</pre></div>

<ul>
<li>
<code>.$isoScope</code> (Object) - provides access to the directive's Angular <code>isoloateScope</code> object, if one exists</li>
</ul>

<div class="highlight highlight-javascript"><pre>it(<span class="pl-s1"><span class="pl-pds">'</span>should have an isolateScope<span class="pl-pds">'</span></span>, <span class="pl-st">function</span>(){
    expect(zbToggle.$isoScope).toBe(zbToggle.$element.isolateScope());
});</pre></div>

<h2>
<a id="more-in-depth-examples" class="anchor" href="#more-in-depth-examples" aria-hidden="true"><span class="octicon octicon-link"></span></a>More In-depth Examples</h2>

<p>The examples above are very simple. You will find more in-depth examples for each of the various provider types in the <code>demo/app.js</code> file. Each of the providers in that file have their own quickmock test files that give more details on how to test them using quickmock. Each of these specs files are found in the <a href="https://github.com/tennisgent/quickmock/tree/master/test/specsUsingQuickMock"><code>specsUsingQuickMock</code></a> folder.</p>

<table>
<thead>
<tr>
<th>Type</th>
<th>Name</th>
<th>Spec File</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>service</code></td>
<td><code>APIService</code></td>
<td><a href="https://github.com/tennisgent/quickmock/blob/master/test/specsUsingQuickMock/apiService.spec.js"><code>apiService.spec.js</code></a></td>
</tr>
<tr>
<td><code>factory</code></td>
<td><code>UserFormValidator</code></td>
<td><a href="https://github.com/tennisgent/quickmock/blob/master/test/specsUsingQuickMock/userFormValidatorService.spec.js"><code>userFormValidatorService.spec.js</code></a></td>
</tr>
<tr>
<td><code>service</code></td>
<td><code>NotificationService</code></td>
<td><a href="https://github.com/tennisgent/quickmock/blob/master/test/specsUsingQuickMock/notificationService.spec.js"><code>notificationService.spec.js</code></a></td>
</tr>
<tr>
<td><code>controller</code></td>
<td><code>FormController</code></td>
<td><a href="https://github.com/tennisgent/quickmock/blob/master/test/specsUsingQuickMock/formController.spec.js"><code>formController.spec.js</code></a></td>
</tr>
<tr>
<td><code>directive</code></td>
<td><code>zb-toggle</code></td>
<td><a href="https://github.com/tennisgent/quickmock/blob/master/test/specsUsingQuickMock/zbToggleDirective.spec.js"><code>zbToggleDirective.spec.js</code></a></td>
</tr>
<tr>
<td><code>filter</code></td>
<td><code>firstInitialLastName</code></td>
<td><a href="https://github.com/tennisgent/quickmock/blob/master/test/specsUsingQuickMock/firstInitialLastNameFilter.spec.js"><code>firstInitialLastNameFilter.spec.js</code></a></td>
</tr>
</tbody>
</table>

<p>For those who are curious, there are also examples of testing these same providers <strong>without</strong> using quickmock for comparison. These specs are found in the <a href="https://github.com/tennisgent/quickmock/tree/master/test/specsWithoutUsingQuickMock"><code>specsWithoutUsingQuickMock</code></a> folder.</p>

<p>You will also find example mocks for each of these providers, as well as mocks the angular <code>$promise</code>, <code>$http</code> and <code>$scope</code> services in the <a href="https://github.com/tennisgent/quickmock/blob/master/test/mocksModule.js"><code>mocksModule.js</code></a> file.</p>

<h2>
<a id="config-and-run-blocks" class="anchor" href="#config-and-run-blocks" aria-hidden="true"><span class="octicon octicon-link"></span></a>Config and Run Blocks</h2>

<p>In order to retrieve the list of dependencies for any given provider, quickmock has to instantiate the angular modules provided in the <code>moduleName</code> and <code>mockModules</code> properties of the config object. These modules are instantiated the moment <code>quickmock({...})</code> is called. (Traditionally, this was done in <code>beforeEach</code> blocks using the <code>module()</code> method provided in the <code>ngMock</code> module.) As a side effect of this pre-instantiation, all <code>.config()</code> and <code>.run()</code> blocks declared in those modules will be run at that moment. So any code in those blocks will also be executed.</p>

<p>As a rule, quickmock does not inject mocked versions of any of the dependencies for a <code>.config</code> or <code>.run</code> block. So these code blocks will receive the actual implemenations of the services/providers they depend on so that the code in these blocks will function as expected. If anyone would like to see this changed, please submit an issue and it can be discussed.</p>

<p>If you wish to test code in a <code>.config()</code> or a <code>.run()</code> block, it is recommended that you not use quickmock. Instead, simply call angular's <code>module('myModule')</code> function, which will instantiate the <code>myModule</code> module and execute these code blocks.</p>

<h2>
<a id="installing" class="anchor" href="#installing" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installing</h2>

<pre><code>npm install quickmock
</code></pre>

<h2>
<a id="testing-frameworks" class="anchor" href="#testing-frameworks" aria-hidden="true"><span class="octicon octicon-link"></span></a>Testing Frameworks</h2>

<p>As mentioned above, quickmock works with most of the popular JavaScript unit testing frameworks. It has been tested with Jasmine 1.3+, Mocha 2.0+, Sinon.js, Chai.js. It is expected to work with nearly any others. The exception to this rule is with the <code>spyOnProviderMethods: true</code> config option. This option only works with Jasmine and with Mocha (when using sinon.js).</p>

<h2>
<a id="running-the-tests" class="anchor" href="#running-the-tests" aria-hidden="true"><span class="octicon octicon-link"></span></a>Running the Tests</h2>

<h4>
<a id="karma" class="anchor" href="#karma" aria-hidden="true"><span class="octicon octicon-link"></span></a>Karma:</h4>

<p>An example karma config file can be found <a href="https://github.com/tennisgent/quickmock/blob/master/test/karma.conf.js">here</a>. You will need to include the following <code>files</code> in your karma config file:</p>

<div class="highlight highlight-javascript"><pre>files<span class="pl-k">:</span> [
    <span class="pl-s1"><span class="pl-pds">'</span>vendor/angular.js<span class="pl-pds">'</span></span>,
    <span class="pl-s1"><span class="pl-pds">'</span>vendor/angular-mocks.js<span class="pl-pds">'</span></span>,
    <span class="pl-s1"><span class="pl-pds">'</span>vendor/quickmock.js<span class="pl-pds">'</span></span>,
    <span class="pl-s1"><span class="pl-pds">'</span>&lt;source code&gt;.js<span class="pl-pds">'</span></span>,
    <span class="pl-s1"><span class="pl-pds">'</span>&lt;test specs&gt;.js<span class="pl-pds">'</span></span>,
    <span class="pl-s1"><span class="pl-pds">'</span>&lt;any file(s) containing mocks&gt;.js<span class="pl-pds">'</span></span>
]</pre></div>

<h4>
<a id="jasmine-spec-runner" class="anchor" href="#jasmine-spec-runner" aria-hidden="true"><span class="octicon octicon-link"></span></a>Jasmine Spec Runner</h4>

<p>In the <code>&lt;head&gt;</code> of the SpecRunner.html file, you will need to include references to the following files:</p>

<div class="highlight highlight-html"><pre><span class="pl-c">&lt;!-- include vendor files here... --&gt;</span>
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s1"><span class="pl-pds">"</span>vendor/angular.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s1"><span class="pl-pds">"</span>vendor/angular-mocks.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s1"><span class="pl-pds">"</span>vendor/quickmock.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;

<span class="pl-c">&lt;!-- include source files here... --&gt;</span>
<span class="pl-s2">&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s1"><span class="pl-pds">"</span>&lt;source code&gt;.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;</span>

<span class="pl-c">&lt;!-- include spec files here... --&gt;</span>
<span class="pl-s2">&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s1"><span class="pl-pds">"</span>&lt;test specs&gt;.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;</span></pre></div>

<h2>
<a id="ideas-for-improvement" class="anchor" href="#ideas-for-improvement" aria-hidden="true"><span class="octicon octicon-link"></span></a>Ideas for Improvement?</h2>

<p>If you have any ideas for how to make quickmock better, please submit them as pull requests.</p>

<h2>
<a id="issues" class="anchor" href="#issues" aria-hidden="true"><span class="octicon octicon-link"></span></a>Issues?</h2>

<p>If you find any issues or bugs, please submit them as issues on this repository.</p>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/tennisgent/quickmock/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/tennisgent/quickmock/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/tennisgent/quickmock"></a> is maintained by <a href="https://github.com/tennisgent">tennisgent</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-59390848-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
